<!DOCTYPE>
<html>
    <main>
        <ul>
            <h1><strong>Disasters</strong></h1>
            <% @disasters.each do |disaster| %>
                <li><%= disaster %></li>
            <% end%>
        </ul>
    </main>
</html>